<div class="container-home">
  <div class="content-home">
    <h1 class="title">Cinema root learn</h1>
    <form action="/movies" method="get" class="form-home">
      <button class="btn-home" type="submit">Check movies</button>
    </form>
  </div>
</div>